* {
    background: linear-gradient(to right, rgba(58, 53, 53, 0.3), rgba(253, 220, 253, 0.4));
}

#hd {
    background: #2c0505;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    border: 2px solid green;
    margin: 33px 17rem;
}